// homepage heros

.landing__hero{
    align-items: center;
    background-color: $color-black;
    background-image: url("/zenhappens/images/zenhappens_landinghero-cropped.png");
    background-position: 90%;
    background-repeat: no-repeat;
    background-size: cover;
	display: flex;
    flex-direction: column;
    height: 35rem;
    justify-content: center;
    margin: 0;
    padding: 2em;
    text-align: center;
    color: #fff;
    text-shadow: 0 0.12rem 1.3rem rgba(0,0,0,0.8);
}

.link__button--hero{
    border: 0.1rem solid #ffffff;
    color: #ffffff;

    &:hover, &:focus{
        color: rgba(#ffffff,.8);
        border: 0.1rem solid rgba(#ffffff,.8);
      }
}