.landing__hero{
    align-items: center;
    background-color: $color-green-light;
    background-image: url("/zenhappens/images/zenhappens_landinghero-cropped.png");
    background-position: 90%;
    background-repeat: no-repeat;
    background-size: cover;
	display: flex;
    flex-direction: column;
    height: 30rem;
    justify-content: center;
    padding: 2em;
    text-align: center;
    color: #fff;
}