// homepage heros

.landing__hero{
    align-items: center;
    background-color: $color-green-light;
    background-image: url("/zenhappens/images/zenhappens_landinghero-cropped.png");
    background-position: 90%;
    background-repeat: no-repeat;
    background-size: cover;
	display: flex;
    flex-direction: column;
    height: 35rem;
    justify-content: center;
    margin: 0;
    padding: 2em;
    text-align: center;
    color: #fff;
}

.hero__link--button{
    border: 0.1rem solid #ffffff;
    color: #ffffff;
    display: block;
    font-size: 0.9rem;
    font-weight: 600;
    margin: 2.7rem auto 2.7rem auto;
    padding: 0.6rem;
    text-decoration: none;
    width: 11rem;

    &:hover, &:focus{
        color: darken($color-green,7);
        border: 0.1rem solid darken($color-green,7);
      }
}