// Header Base

header.nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.7rem;
}

.nav__menu{
    height: calc(100vh-2rem);
}

.nav__links{
    font-size: 1rem;
    list-style-type: none;
    margin: 2rem;
    padding: 0;
    text-align: center;
}

a.menu__link{
    color: $color-black;
    display: block;
    margin: 2.7rem auto 2.7rem auto;
    text-decoration: none;

    &:hover, &:focus{
        color: $color-green;
      }
}

.menu__link--button{
    border: 0.1rem solid $color-green;
    color: $color-green;
    display: block;
    font-size: 0.9rem;
    font-weight: 600;
    margin: 2.7rem auto 2.7rem auto;
    padding: 0.6rem;
    text-decoration: none;
    width: 11rem;

    &:hover, &:focus{
        color: darken($color-green,7);
        border: 0.1rem solid darken($color-green,7);
      }
}

// Header Elements

.burgermenu{
    width: 1.5rem;
    margin: 0.5rem;
}

.logo--mobile{
    width: 2.5rem;
}



