// Header Base

header.nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $padding-mobile;
}

.nav__menu{
    height: calc(100vh - 80px);
    padding: 1px;
}

.nav__links{
    font-size: 1rem;
    list-style-type: none;
    margin: 2rem;
    padding: 0;
    text-align: center;
}

a.menu__link{
    color: $color-black;
    display: block;
    margin: 2.7rem auto 2.7rem auto;
    text-decoration: none;

    &:hover, &:focus{
        color: $color-green;
      }
}

.link__button--nav{
    margin: 2.7rem auto 2.7rem auto;
}

// Header Elements

.burgermenu{
    width: 1.5rem;
    margin: 0.5rem;
}

.logo--mobile{
    width: 2.5rem;
}



