// utility classes

.u-block {
	display: block;
}

.u-button-reset {
	background: transparent;
	border: 0;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	padding: 0;
	text-align: inherit;
}

.u-fit {
	max-width: 100%;
}

.u-flex{
  display: flex;
  justify-content: center;
}

.u-list-reset {
	list-style: none;
	padding-left: 0;
}

.u-mt-2em{
	margin-top: 2em;
}

.u-mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.u-sansserif{
  font-family: $font-sans-serif;
  font-size: 0.9rem;
}

.u-sr-only {
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
	margin: -1px;
	padding: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
}
