// utility classes

.u-sr-only {
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
	margin: -1px;
	padding: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
}

// scss variables

$color-black: #454545;
$color-green: #608B10;
$color-green-dark: #486B08;
$color-green-light: rgba($color-green, 10%);
$font-sans-serif: 'Open Sans', sans-serif;
$font-condensed: 'Open Sans Condensed', sans-serif;
$font-serif: 'Crimson Text', serif;
$padding-mobile: 1rem;


@mixin size($width,$height){
  width: $width;
  height: $height;
}