    <footer>
        <div class="footer__container">
        <div class="footer__logo">
            <p class="logo__wordmark--footer">Zen Happens</p>
            <p class="logo--tagline">Massage & Wellness</p>
            <div class="footer__social">
                <ul class="social-icons">
                    <li><a href="https://www.yelp.com/biz/zen-happens-massage-and-wellness-baltimore"><img src="/images/icon-yelp.svg" alt="Yelp icon."></a></li>
                    <li><a href="https://www.facebook.com/zenhappensincharmcity"><img src="/images/icon-fb.svg" alt="Facebook icon."></a></li>
                    <li><a href="https://www.instagram.com/zen_happens/"><img class="socialicon__align" src="/images/icon-insta.svg" alt="Instagram icon."></a></li>
                </ul> 
            </div>
        </div>
        <address class="footer__contact">
                <p>4337 Harford Rd <br>
                Baltimore, MD 21214 <br>
                <a href="tel:+14107460499">410-746-0499</a><br>
                <a href="mailto:ZenHappens@gmail.com">ZenHappens@gmail.com</a></p>
        </address>
        </div>
        <div class="footer__copyright">
            <p>© 2018 by Zen Happens Massage and Wellness. </p>
            <a class="link__small" href="/zenhappens/index.html">Policies & Procedures</a>
        </div>
    </footer>