html{
    box-sizing: border-box;
  }
  
*, *:before, *:after {
    box-sizing: inherit;
  }

body{
    font-family: $font-sans-serif;
    color: $color-black;
    margin: 0;
}


// type bases

h1{
  font-family: $font-serif;
  font-size: 4rem;
  font-weight: 400;
  margin: 0.7rem;

  @media only screen and (max-width: 500px){
    font-size: 2rem;
  }
}

h2{
  color: $color-green;
  font-family: $font-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

p{
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.02rem;
  line-height: 1.6rem;
  margin: 0;
}

a{
  color: $color-green;
  font-weight: 600;
  text-decoration: none;

  &:hover, &:focus{
    color: rgba($color-green, 10%);
  }
}

// base button

.link__button{
  border: 0.1rem solid $color-green;
  color: $color-green;
  display: block;
  font-size: 0.9rem;
  font-weight: 600;
  margin: 1.3rem;
  padding: 0.6rem;
  text-decoration: none;
  width: 11rem;

  &:hover, &:focus{
      color: darken($color-green,7);
      border: 0.1rem solid darken($color-green,7);
    }
}