html{
    box-sizing: border-box;
  }
  
*, *:before, *:after {
    box-sizing: inherit;
  }

body{
    font-family: $font-sans-serif;
    color: $color-black;
}


// type bases

a{
  color: $color-green;
  
  &:hover, &:focus{
    color: rgba($color-green, 10%);
  }
}