// Header Elements

.logo--combined{

    @media screen and (max-width: $display-burger) {
    display: flex;
    align-items: center;
    }
}

.logo--icon{
    width: 5rem;

    @media screen and (max-width: $display-burger) {
    width: 2.5rem;
    }
}


.logo__wordmark{
    color: $color-green;
    font-family: $font-serif;
    font-size: 1.4rem;
    padding: 0.8rem;
}

.burgermenu{
    width: 1.5rem;
    margin: 0.5rem;
}


