// form base

.appointment__form{
    margin: 5vw 7vw 5vw 7vw;
}

legend {
    display: block;
    padding: 0;
    display: table;
  }

fieldset {
    border: 0;
    padding: 0.01em 0 0 0;
    margin: 7vh 0 7vh 0;
    min-width: 0;
  }
body:not(:-moz-handler-blocked) fieldset {
    display: table-cell;
  }

// form styles

.appointment__form--question{
    color: $color-green;
    font-family: $font-serif;
    font-size: 1.6rem;
    font-weight: 400;
    margin: 1.2rem auto 1.2rem auto;
    text-align: center;
}

.form__radio-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form__radio--label{
    border: 1px solid #454545;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 1em;
    padding: 1.1em;
    text-align: center;
    width: 14em;
}