.landing__info{
    padding: $padding-mobile;

    @media screen and (min-width: 450px) {
        padding: 2em;
    }

    @media screen and (min-width: 700px) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        > section{
            flex-basis: 40%;
            // flex: 1 0 30%;
        }
    }

    @media screen and (min-width: $display-burger) {
        padding: 2em;
    }
}

.hours, .philosophy{
    margin: 1.8rem auto 1.8rem auto;

    @media screen and (min-width: 700px) {
        margin: 2em auto 2em auto;
    }

    @media screen and (min-width: $display-burger) {
        margin: 4em auto 4em auto;
    }
}
