.services__main{
    margin: 6em 6em 8em 6em;

    @media screen and (min-width: 700px) and (max-width: 1200px){
        margin: 4em;
    }

    @media screen and (max-width: 699px) {
        margin: 2em;
    }

    @media screen and (max-width: 500px) {
        margin: 1em;
    }
}

.table-style__left{
    margin-right: 5em;

    @media screen and (max-width: 800px) {
        margin-right: 0;
     }
}

.table-style{
    font-family: $font-serif;
    font-size: 1.3rem;
    line-height: 2rem;
    margin-top: 1em;
    width: 25em;

    @media screen and (max-width: 1339px) {
        width: 20em;
     }

    @media screen and (max-width: 1065px) {
       width: 18em;
    }

    @media screen and (max-width: 800px) {
        width: 100%;
     }
}

.service-description{
    // font-family: $font-sans-serif;
    font-size: 0.9rem;
    line-height: 2rem;
    margin-right: 8em;
    margin-top: 1em;
    width: 35em;

     @media screen and (max-width: 1339px) {
        width: 20em;
     }

    @media screen and (max-width: 1065px) {
       width: 18em;
    }

    @media screen and (max-width: 800px) {
        margin-right: 0;
        width: 100%;
     }
}

th{
    text-align: left;
}

.table__price{
    text-align: right;
}

.table__add-detail{
    padding-left: 1em;
}

.price-list--flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.price-list__container{
    width: 45%;
}

// type style

.u-sansserif{
    font-family: $font-sans-serif;
    font-size: 0.9rem;
}

.service-type{
    color: $color-green;
    font-family: $font-serif;
    font-size: 1.6rem;
    font-weight: 400;
    padding-bottom: 1.4rem;
    padding-top: 1.4rem;
}

.price-list__title{
    margin-top: 1.4em;
    margin-bottom: 0;
}

// read more css

.read-more-state {
    display: none;
  }
  
  .read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .5s ease;
  }

  .read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
  }

  .read-more-state ~ .read-more-trigger:before {
    content: 'Read More';
  }
  
  .read-more-state:checked ~ .read-more-trigger:before {
    content: 'Read Less';
  }

  .read-more-trigger {
    cursor: pointer;
    display: inline;
    color:$color-green;
    font-weight: 600;
  }