.services__main{
    margin: 4em;
}

.table-style{
    margin-top: 1em;
    font-family: $font-serif;
    font-size: 1.3rem;
    line-height: 2rem;
    width: 20em;
}

th{
    text-align: left;
}

.table__price{
    text-align: right;
}

.table__add-detail{
    padding-left: 1em;
}

.u-sansserif{
    font-family: $font-sans-serif;
    font-size: 0.9rem;
}

.price-list--flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.price-list__container{
    width: 45%;
}