// container

.form__dropdown--container{
   margin: 1.2em;
}

// dropdown style

.styled-select select {
  background: transparent;
  border: 1px solid $color-black;
  border-radius: 4px; 
  font-size: 1em;
  height: 50px; 
  padding: 5px 16px;
  width: 320px; 
  -webkit-appearance: none; /* Stops gradient background in Safari */
}

.styled-select {
  background: url(/images/arrowdown.svg) no-repeat #fff;
  background-position: 95%;
  height: 50px;
  margin: 1em;
  overflow: hidden; /* This hides the native select arrows */
  width: 320px;
  }

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
