// scss variables

$font-condensed: 'Oswald', sans-serif;
$font-mono: 'Inconsolata', monospace;
$color-black: #040304;
$color-red: #E86158;

@mixin size($width,$height){
  width: $width;
  height: $height;
}

// base classes

html{
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  background-color: #f1eee9;
  font-family: $font-mono;
  color: $color-black;
  max-width: 900px;
  margin: auto;
}

.top-section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px;
}

.bottom-section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 80px 80px 80px 80px 80px;
}


// type base classes

h1{
  font-family: $font-condensed;
  font-size: 3rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: 2rem 0 2rem 0;
}

h2{
  font-family: $font-condensed;
  font-size: 3rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
}

h3{
  font-family: $font-condensed;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  text-transform: uppercase;
}

h4{
  font-family: $font-condensed;
  font-weight: 800;
  margin-top: 0;
  text-transform: uppercase;
}

p{
  font-family: $font-mono;
  text-transform: uppercase;
}

a{
  font-family: $font-condensed;
  font-size: 0.6rem;
  font-weight: 600;
  color: $color-black;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

ul{
  line-height: 1.3rem;
  letter-spacing: 0.2rem
}

.underline{
  border-bottom: 0.18rem solid #000;
  padding-bottm: 0;
}


// type custom classes
.title__chicago--big{
  color: $color-red;
  font-family: $font-condensed;
  font-size: 10rem;
  line-height: 10rem;
  letter-spacing: 1.2rem;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  z-index: -1;
}

.chi{
  grid-column: 5/10;
  grid-row: 3/5;
}

.ca{
  grid-column: 3/4;
  grid-row: 6/10;
}

.go{
  grid-column: 5/7;
  grid-row: 1/3;
}

.title__grade{
  grid-column: 6/9;
  grid-row: 2/5;
  text-align: center;
}

.title__city{
  grid-column: 2/5;
  grid-row: 6/8;
}

.title__date{
  grid-column: 6/8;
  grid-row: 1/3;
  text-align: center;
}

.title__place{
  grid-column: 2/5;
  grid-row: 3/4;
  text-align: center;
}

.caption__madegoods{
  grid-column: 2/4;
  grid-row: 1/2;
  text-align: center;
}

.list__1{
  grid-column: 5/8;
  grid-row: 5/11;
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;
}

.list__2{
  grid-column: 7/12;
  grid-row: 5/12;
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;
}

.list__3{
  grid-column:5/7;
  grid-row: 3/6;
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;
}

.date-time{
  grid-column: 2/4;
  grid-row: 2/3;
  letter-spacing: 0.1rem;
  text-align: center;
}

.link__socials{
  grid-column: 7/9;
  grid-row: 4;
}

.link__northerngrade{
  @include size(150px,45px);
  border: 0.2rem solid $color-red;
  padding: 0.8rem;
  text-align: center;
}

.link__instagram{
  font-family: $font-condensed;
  font-size: 0.6rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin: 2rem;
  text-transform: lowercase;
}

.info-circles{
  grid-column: 3/4;
  grid-row: 3/6;
  font-size: 7px;
  line-height: 9px;
}

.info-circles__date{
  @include size(45px,45px);
  border-radius: 25px;
  border: 0.1rem solid $color-black;
  margin: 0 0 10px 0;
  padding-top: 8px;
  text-align: center;
}

.info-circles__city{
  @include size(45px,45px);
  border-radius: 25px;
  border: 0.1rem solid $color-black;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  margin: 0 0 10px 0;
  padding-top: 16px;
  text-align: center;
}

.info-circles__place{
  @include size(45px,45px);
  border-radius: 25px;
  border: 0.1rem solid $color-black;
  font-size: 7px;
  margin: 0 0 10px 0;
  padding-top: 13px;
  text-align: center;
}

.footer-logos{
  padding: 2vw;
}

.img__logo{
  height: 80px;
  margin: 0 4vw 0 4vw;
}