// scss variables

$font-condensed: 'Oswald', sans-serif;
$font-mono: 'Inconsolata', monospace;
$color-black: #040304;
$color-red: #E86158;
$spacing-margin: 0.75rem;

@mixin size($width,$height){
  width: $width;
  height: $height;
}

// base classes

html{
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  background-color: #f1eee9;
  font-family: $font-mono;
  color: $color-black;
  margin: auto;
  @media only screen and (min-width: 900px){
    max-width: 1280px;
  }
}

.top-section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.bottom-section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

// type base classes

h1{
  font-family: $font-condensed;
  font-size: 3rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: 2rem 0 2rem 0;
  @media only screen and (min-width: 900px){
    font-size: 4rem;
    letter-spacing: 0.2rem;
  }
 

}

h2{
  font-family: $font-condensed;
  font-size: 3rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
  @media only screen and (min-width: 900px){
    font-size: 4rem;
    letter-spacing: 0.2rem;
  }
}

h3{
  font-family: $font-condensed;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  text-transform: uppercase;
  @media only screen and (min-width: 900px){
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
  }
}

h4{
  font-family: $font-condensed;
  font-weight: 800;
  margin-top: 0;
  text-transform: uppercase;
}

p{
  font-family: $font-mono;
  text-transform: uppercase;
}

a{
  font-family: $font-condensed;
  font-size: 0.6rem;
  font-weight: 600;
  color: $color-black;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
  @media only screen and (min-width: 900px){
    font-size: 0.8rem;
  }
  &:hover, &:focus{
    color: rgba($color-red, 10%);
  }
}

ul{
  line-height: 1.3rem;
  letter-spacing: 0.2rem;
  padding-left: 0;
}

.underline{
  border-bottom: 0.18rem solid #000;
  padding-bottom: 0;
}


// type custom classes

.title__chicago--big{
  color: $color-red;
  font-family: $font-condensed;
  font-size: 10rem;
  line-height: 10rem;
  letter-spacing: 1.2rem;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  z-index: -1;
  @media only screen and (min-width: 900px){
    font-size: 12rem;
  line-height: 12rem;
  letter-spacing: 1.5rem;
  }
}

// red chicago decorative text
.chi{
  grid-column: 5/10;
  grid-row: 3/5;

  @media only screen and (max-width: 700px){
    grid-column: 3/11;
  }

  @media only screen and (max-width: 500px){
    grid-row: 3/5;
  }
}

.ca{
  grid-column: 3/4;
  grid-row: 6/10;

  @media only screen and (max-width: 700px){
    grid-column: 3/6;
    grid-row: 6/7;
  }
}

.go{
  grid-column: 5/7;
  grid-row: 1/3;

  @media only screen and (max-width: 700px){
    grid-column: 3/7;
  }

  @media only screen and (max-width: 500px){
    grid-column: 1/4;
  }

}

// black title information

.title__grade{
  grid-column: 6/9;
  grid-row: 2/5;
  text-align: center;

  @media only screen and (max-width: 730px) {
    grid-column: 5/9;
  }

  @media only screen and (max-width: 700px){
    grid-column: 4/11;
    padding-right: $spacing-margin;
  }

  @media only screen and (max-width: 500px){
    grid-column: 3/11;
  }
}

.title__city{
  grid-column: 2/5;
  grid-row: 6/8;
}

.title__date{
  grid-column: 6/8;
  grid-row: 1/3;
  text-align: center;

  @media only screen and (max-width: 700px){
    grid-row: 1/2;
  }

  @media only screen and (max-width: 700px){
    grid-column: 2/9;
    padding-right: $spacing-margin;
  }
}

.title__place{
  grid-column: 1/5;
  grid-row: 3/4;
  text-align: center;

  @media only screen and (max-width: 730px) {
    padding-left: $spacing-margin;
  }

  @media only screen and (max-width: 700px){
    grid-column: 1/7;
  }

  @media only screen and (max-width: 500px){
    grid-column: 1/8;
  }

}

// lists

.list__1{
  grid-column: 4/7;
  grid-row: 5/11;
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;

  @media only screen and (max-width: 700px){
    grid-column: 1/5;
    grid-row: 10/11;
  }

  @media only screen and (max-width: 500px){
    grid-column: 1/11;
    grid-row: 5/6;
  }

}

.list__2{
  grid-column: 7/12;
  grid-row: 5/12;
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;

  @media only screen and (max-width: 700px){
    grid-column: 4/12;
    grid-row: 7/12;
  }

  @media only screen and (max-width: 500px){
    grid-column:1/11;
    grid-row: 9/11;
  }

}

.list__3{
  grid-column:5/7;
  grid-row: 3/6;
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;

  @media only screen and (max-width: 700px){
    grid-column:2/7;
    grid-row: 6/7;
  }

  @media only screen and (max-width: 500px){
    grid-column:1/9;
    grid-row: 6/7;
  }


}

// extra info

.date-time{
  grid-column: 1/5;
  grid-row: 2/3;
  letter-spacing: 0.1rem;
  text-align: center;
  align-self: center;

  @media only screen and (max-width: 700px){
    grid-column: 7/8;
  }

}

.caption__madegoods{
  grid-column: 2/4;
  grid-row: 1/2;
  text-align: center;

  @media only screen and (max-width: 700px){
    grid-column: 1/7;
    grid-row: 2/3;
    margin: 2rem;
  }
}

// social links

.link__socials{
  grid-column: 7/9;
  grid-row: 4/5;
  @media only screen and (max-width: 500px){
  margin-top: 2.5rem;
  }
}

.link__northerngrade{
  @include size(150px,45px);
  border: 0.2rem solid $color-red;
  padding: 0.8rem;
  text-align: center;
}

.link__instagram{
  font-family: $font-condensed;
  font-size: 0.6rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin: 2rem;
  text-transform: lowercase;
  display: block;
  @media only screen and (min-width: 900px){
    font-size: 0.8rem;
  }
}

// small circles with info

.info-circles{
  grid-column: 3/4;
  grid-row: 3/6;
  line-height: 0.62rem;

  @media only screen and (max-width: 700px){
    grid-column: 2/3;
  }
}

.info-circles__date{
  @include size(3rem,3rem);
  border-radius: 3rem;
  border: 0.1rem solid $color-black;
  font-size: 0.05rem;
  margin: 0 0 0.9rem 0;
  padding-top: 0.5rem;
  text-align: center;
}

.info-circles__city{
  @include size(3rem,3rem);
  border-radius: 3rem;
  border: 0.1rem solid $color-black;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  margin: 0 0 0.9rem 0;
  padding-top: 1.1rem;
  text-align: center;
}

.info-circles__place{
  @include size(3rem,3rem);
  border-radius: 3rem;
  border: 0.1rem solid $color-black;
  font-size: 7px;
  margin: 0 0 0.9rem 0;
  padding-top: 0.9rem;
  text-align: center;
}

// footer with logos

.footer-logos{
  padding: 2vw;
  text-align: center;
}

.img__logo{
  height: 80px;
  margin: 0 4vw 0 4vw;
}