---
layout: layouts/default.njk
title: Book an Appointment | Zen Happens 
---


    {% include "_header.html" %}

    <section class="appointment__hero">
        <p class="eyebrow--onimage">Zen Happens in Lauraville</p>
        <h3 class="landing__text">Book an Appointment</h3>
    </section>

    <section class="appointment__form">
    <form action="" method="post">
        <fieldset>
        <legend class="appointment__form--question">What Service are you looking for?</legend>
        
        <div class="form__radio-container">
        <label class="form__radio--label">
        <input id="" type="radio" name="service" class="u-sr-only" value="massage">
        <span>Massage</span>
        </label>

        <label class="form__radio--label">
        <input type="radio" name="service" class="u-sr-only" value="Reflexology">
        <span>Reflexology</span>
        </label>

        <label class="form__radio--label">
        <input type="radio" name="service" class="u-sr-only">
        <span>Organic Facials</span>
        </label>

        <label class="form__radio--label">
        <input type="radio" name="service" class="u-sr-only">
        <span>Waxing</span>
        </label>

        <label class="form__radio--label">
        <input type="radio" name="service" class="u-sr-only">
        <span>Reiki</span>
        </label>

        <label class="form__radio--label">
        <input type="radio" name="service" class="u-sr-only">
        <span>Cupping</span>
        </label>

        <label class="form__radio--label">
        <input type="radio" name="service" class="u-sr-only">
        <span>Home Massage</span>
        </label>
        </div>

        </fieldset>

        <fieldset>
        <legend class="appointment__form--question">What type of Massage?</legend>
        
        <div class="form__radio-container">
        <label class="form__radio--label">
        <input id="" type="radio" name="service" class="u-sr-only">
        <span>Basic</span>
        </label>

        <label class="form__radio--label">
        <input type="radio" name="service" class="u-sr-only">
        <span>Custom</span>
        </label>

        <label class="form__radio--label">
        <input type="radio" name="service" class="u-sr-only">
        <span>Thai Massage</span>
        </label>

        <label class="form__radio--label">
        <input type="radio" name="service" class="u-sr-only">
        <span>Prenatal Massage</span>
        </label>

        <label class="form__radio--label">
        <input type="radio" name="service" class="u-sr-only">
        <span>Custom Massage</span>
        </label>

        <label class="form__radio--label">
        <input type="radio" name="service"class="u-sr-only"> 
        <span>Foot Massage</span>
        </label>

        <label class="form__radio--label">
        <input type="radio" name="service" class="u-sr-only">
        <span>Couples Massage</span>
        </label>
        </div>
        </fieldset>


    </form>
    </section>
    {% include "_footer.html" %}