---
layout: layouts/default.njk
title: Book an Appointment | Zen Happens 
---


    {% include "_header.html" %}

    <section class="appointment__hero">
        <p class="eyebrow--onimage">Zen Happens in Lauraville</p>
        <h3 class="landing__text">Book an Appointment</h3>
    </section>

    <section class="appointment__form">
    <form action="" method="post">
        <fieldset>
        <legend class="appointment__form--question">What Service are you looking for?</legend>
        
        <div class="form__radio-container">

        <input class="form__radio--input u-sr-only" id="massage" type="radio" name="service"  value="massage" checked>
        <label class="form__radio--label" for="massage"><span>Massage</span></label>

        <input class="form__radio--input u-sr-only" id="reflexology" type="radio" name="service" value="reflexology">
        <label class="form__radio--label" for="reflexology"><span>Reflexology</span></label>

        <input class="form__radio--input u-sr-only" id="organic-facials" type="radio" name="service" value="organic facials">
        <label class="form__radio--label" for="organic-facials"><span>Organic Facials</span></label>

        <input class="form__radio--input u-sr-only" id="waxing" type="radio" name="service" value="waxing">
        <label class="form__radio--label" for="waxing"><span>Waxing</span></label>

        <input class="form__radio--input u-sr-only" id="reiki" type="radio" name="service" value="reiki">
        <label class="form__radio--label" for="reiki"><span>Reiki</span></label>

        <input class="form__radio--input u-sr-only" id="cupping" type="radio" name="service" value="cupping">
        <label class="form__radio--label" for="cupping"><span>Cupping</span></label>

        <input class="form__radio--input u-sr-only" id="home-massage" type="radio" name="service" class="u-sr-only" value="home massage">
        <label class="form__radio--label" for="home-massage"><span>Home Massage</span></label>
        </div>

        </fieldset>

        <fieldset>
        <legend class="appointment__form--question">What type of Massage?</legend>
        
        <div class="form__radio-container">
        
        <input class="form__radio--input u-sr-only" id="basic" type="radio" name="massage type" value="basic" checked>
        <label class="form__radio--label" for="basic">Basic</label>

        
        <input class="form__radio--input u-sr-only" id="custom" type="radio" name="massage type" value="custom">
        <label class="form__radio--label" for="custom">
        <span>Custom</span>
        </label>

        <input class="form__radio--input u-sr-only" id="thai-massage" type="radio" name="massage type" value="thai massage">
        <label class="form__radio--label" for="thai-massage">
        <span>Thai Massage</span>
        </label>

        <input class="form__radio--input u-sr-only" id="prenatal-massage" type="radio" name="massage type" value="prenatal massage">
        <label class="form__radio--label" for="prenatal-massage">
        <span>Prenatal Massage</span>
        </label>

        <input class="form__radio--input u-sr-only" id="foot-massage" type="radio" name="massage type" value="foot massage"> 
        <label class="form__radio--label" for="foot-massage"><span>Foot Massage</span></label>

        <input class="form__radio--input u-sr-only" id="couples-massage" type="radio" name="massage type" value="couples massage">
        <label class="form__radio--label" for="couples-massage"><span>Couples Massage</span></label>
        </div>
        </fieldset>


    </form>
    </section>
    {% include "_footer.html" %}