---
layout: layouts/default.njk
title: Services | Zen Happens 
---

    {% include "_header.html" %}

     <section class="services__hero">
        <p class="eyebrow--onimage">Zen Happens in Lauraville</p>
        <h3 class="landing__text">Services and Pricing</h3>
    </section>
    
    <main class="services__main">
    <section class="container">
        <h2>Custom Massage</h2>
        <div class="price-list--flex">
        <table class="table-style">
        <tr>
            <td colspan="2" class="u-sansserif"><strong>Regular Rates</strong></td>
            
        </tr>
        <tr>
            <td>30 minute massage</td>
            <td class="table__price">$45</td> 
        </tr>
        <tr>
            <td>45 minute massage</td>
            <td class="table__price">$65</td> 
        </tr>
        <tr>
            <td>60 minute massage</td>
            <td class="table__price">$85</td> 
        </tr>
        <tr>
            <td class="table__add-detail">plus full body scrub</td>
            <td class="table__price">+$100</td> 
        </tr>
        <tr>
            <td>75 minute pre-natal massage</td>
            <td class="table__price">$110</td> 
        </tr>
        <tr>
            <td>90 minute massage</td>
            <td class="table__price">$125</td> 
        </tr>
        </table>

        <table class="table-style">
        <tr>
            <td colspan="2" class="u-sansserif"><strong>Introductory Rates (For First Time Clients)</strong></td>
            
        </tr>
        <tr>
            <td>60 minute massage</td>
            <td class="table__price">$75</td> 
        </tr>
        <tr>
            <td>90 minute massage</td>
            <td class="table__price">$110</td> 
        </tr>
        </table>
        </div>
        </section>
        
        <section class="price-list--flex u-mt-2em">
       
        



        </section>

    </main>

      {% include "_footer.html" %}