---
layout: layouts/default.njk
title: Services | Zen Happens 
---

    {% include "_header.html" %}

     <section class="services__hero">
        <p class="eyebrow--onimage">Zen Happens in Lauraville</p>
        <h3 class="landing__text">Services and Pricing</h3>
    </section>
    
    <section class="custom-massage">
        <h2>Custom Massage</h2>
        <p><strong>Regular Rates</strong></p>

        <table style="width:45%">
        <tr>
            <td>Firstname</td>
            <td class="table__price">Lastname</td> 
        </tr>
        <tr>
            <td>Jill</td>
            <td class="table__price">Smith</td> 
        </tr>
        <tr>
            <td>Eve</td>
            <td class="table__price">Jackson</td> 
        </tr>
        </table>
    </section>

      {% include "_footer.html" %}