---
layout: layouts/default.njk
title: Services | Zen Happens 
---

    {% include "_header.html" %}

     <section class="services__hero">
        <p class="eyebrow--onimage">Zen Happens in Lauraville</p>
        <h3 class="landing__text">Services and Pricing</h3>
    </section>
    
    <main class="services__main">
    <section class="container">
        <h2 class="price-list__title">Custom Massage</h2>
        <div class="price-list--flex">
        <table class="table-style table-style__left">
        <tr>
            <td colspan="2" class="u-sansserif"><strong>Regular Rates</strong></td>
            
        </tr>
        <tr>
            <td>30 minute massage</td>
            <td class="table__price">$45</td> 
        </tr>
        <tr>
            <td>45 minute massage</td>
            <td class="table__price">$65</td> 
        </tr>
        <tr>
            <td>60 minute massage</td>
            <td class="table__price">$85</td> 
        </tr>
        <tr>
            <td class="table__add-detail">plus full body scrub</td>
            <td class="table__price">+$100</td> 
        </tr>
        <tr>
            <td>75 minute pre-natal massage</td>
            <td class="table__price">$110</td> 
        </tr>
        <tr>
            <td>90 minute massage</td>
            <td class="table__price">$125</td> 
        </tr>
        </table>

        <table class="table-style">
        <tr>
            <th colspan="2" class="u-sansserif"><strong>Introductory Rates (For First Time Clients)</strong></th>
            
        </tr>
        <tr>
            <td>60 minute massage</td>
            <td class="table__price">$75</td> 
        </tr>
        <tr>
            <td>90 minute massage</td>
            <td class="table__price">$110</td> 
        </tr>
        </table>
        </div>
        </section>
        
        <section class="container">
        <div class="price-list--flex">
        <table class="table-style table-style__left">
        <tr>
            <th colspan="2" class="service-type">Couple’s Massage</th>
            
        </tr>
        <tr>
            <td>60 minute couple’s massage</td>
            <td class="table__price">$150</td> 
        </tr>
        <tr>
            <td>90 minute couple’s massage</td>
            <td class="table__price">$220</td> 
        </tr>
        </table>

        <table class="table-style">
        <tr>
            <td colspan="2" class="service-type">Add Ons</td>
            
        </tr>
        <tr>
            <td>Hot Stone Add On</td>
            <td class="table__price">$15</td> 
        </tr>
        <tr>
            <td>Foot Scrub (15min/30min)</td>
            <td class="table__price">$20/$40</td> 
        </tr>
        </table>
        </div>
        </section>

           <section class="container">
        <div class="price-list--flex">
        <table class="table-style table-style__left">
        <tr>
            <th colspan="2" class="service-type">Organic Facials</th>
            
        </tr>
        <tr>
            <td>Mini Facial</td>
            <td class="table__price">$40</td> 
        </tr>
        <tr>
            <td>Classic Facial</td>
            <td class="table__price">$70</td> 
        </tr>
        <tr>
            <td>Deluxe Facial</td>
            <td class="table__price">$90</td> 
        </tr>
        </table>

        <table class="table-style">
        <tr>
            <td colspan="2" class="service-type">Acupuncture</td>
            
        </tr>
        <tr>
            <td>90 minute 1st Appointment</td>
            <td class="table__price">$125</td> 
        </tr>
        <tr>
            <td>60 minute Follow Up</td>
            <td class="table__price">$80</td> 
        </tr>
        </table>
        </div>
        </section>
       
        <section class="container">
        <h2 class="price-list__title">Waxing</h2>
        <div class="price-list--flex">
        <table class="table-style table-style__left">
        <tr>
            <td>Brows</td>
            <td class="table__price">$12</td>
        </tr>
        <tr>
            <td>Lips</td>
            <td class="table__price">$8</td> 
        </tr>
        <tr>
            <td class="table__add-detail">with lower & upper</td>
            <td class="table__price">$14</td> 
        </tr>
        <tr>
            <td>Chin</td>
            <td class="table__price">$10</td> 
        </tr>
        <tr>
            <td>Sideburn</td>
            <td class="table__price">$12</td> 
        </tr>
        <tr>
            <td>Full Face</td>
            <td class="table__price">$34</td> 
        </tr>
        </table>

        <table class="table-style">
           <tr>
            <td>Bikini</td>
            <td class="table__price">$35</td>
        </tr>
        <tr>
            <td>Extended Bikini</td>
            <td class="table__price">$40</td> 
        </tr>
        <tr>
            <td>Brazilian</td>
            <td class="table__price">$60</td> 
        </tr>
        <tr>
            <td>Stomach strip</td>
            <td class="table__price">$8</td> 
        </tr>
        <tr>
            <td>Inner thigh</td>
            <td class="table__price">$16</td> 
        </tr>
        </table>
        </div>


         <div class="price-list--flex">
        <table class="table-style table-style__left">
        <tr>
            <td>Back</td>
            <td class="table__price">$35</td>
        </tr>
        <tr>
            <td>Lower/Upper Back</td>
            <td class="table__price">$40</td> 
        </tr>
        <tr>
            <td class="table__add-detail">Underarm</td>
            <td class="table__price">$60</td> 
        </tr>
        <tr>
            <td>Shoulder</td>
            <td class="table__price">$8</td> 
        </tr>
        <tr>
            <td>Chest</td>
            <td class="table__price">$16</td> 
        </tr>
        <tr>
            <td>Stomach</td>
            <td class="table__price">$28</td> 
        </tr>
         <tr>
            <td>Chest/Stomach</td>
            <td class="table__price">$58</td> 
        </tr>
        </table>

        <table class="table-style">
           <tr>
            <td>Leg (Half)</td>
            <td class="table__price">$40</td>
        </tr>
        <tr>
            <td>Leg (Full)</td>
            <td class="table__price">$68</td> 
        </tr>
        <tr>
            <td>Arm (Half)</td>
            <td class="table__price">$36</td> 
        </tr>
        <tr>
            <td>Arm (Full)</td>
            <td class="table__price">$60</td> 
        </tr>
        </table>
        </div>
        </section>



        </section>

    </main>

      {% include "_footer.html" %}